<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>classic yoga</title>
<style>
body{
    background-image: linear-gradient(to right top, #082c5d, #00568c, #0081a4, #00ab9d, #09d17f);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}
.box{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafffe;
    padding: 10px;
    width: 30vw;
}
</style>
</head>
<body>
<center>
<div>
<h1 style="color:#CCCCFF">PAYMENT</h1>
<form action="." method="post" name="passsdata">
</div>
<div class="box">
<h2>BILLING DETAILS</h2>
<label for="name">Name: 
<input type="text" name="name" placeholder="name"required>
</label>
<br><br>
<label for="phoneno">Phone Number: <input type="tel" name="phoneno" placeholder="phone number"required></label>
<br><br>
<label for="payment">Payment Options</label>
<br><br>
<input type="radio" id="upi" name="payment_type" value="UPI">
<label for="upi">upi</label>
<br><br>
<input type="radio" id="dcard" name="payment_type" value="DEBIT CARD">
<label for="dcard">debit card</label>
<br><br>
<input type="radio" id="ccard" name="payment_type" value="CREDIT CARD">
<label for="ccard">credit card</label>
<br><br>
<label for="payment complete">Amount to be paid:</label>
<input type="number" value=500 min=500 max=500>
<br><br>
<input type="submit" value="proceed to pay">
<p style="color:green">contact us: classicyoga@gmail.com</p>
</div class="box">
</form>
</center>
</body>
</html>