<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Classic Yoga</title>
<style>
body{
    background-image: linear-gradient(to right top, #082c5d, #00568c, #0081a4, #00ab9d, #09d17f);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}
.box{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafffe;
    padding: 10px;
    width: 30vw;
}
</style>
</head>
<body>
<center>
<div><h1 style="color:#CCCCFF">CLASSIC YOGA</h1></div>
<div class="box">
<center><h2 style="color:blue;">ADMISSION FORM</h2></center>
<form action="payment.html" method="post" name="passdata">
<label for="name">NAME: </label>
<input type="text" name="name" placeholder="enter name"required>
<br><br>
<label>EMAIL: </label>
<input type="email" name="email" placeholder="enter email"required>
<br><br>
<label for="phno">PHONE NUMBER: </label>
<input type="tel" name="phno" placeholder="enter number"required>
<br><br>
<label for="age">AGE: </label>
<input type="number" min=18 max=65 name="age" placeholder="enter age"required>
<br><br>
<label for="batch">CHOOSE BATCH: 
<select name="batch">
<option value="6-7">6-7AM</option>
<option value="7-8">7-8AM</option>
<option value="8-9">8-9AM</option>
<option value="5-6">5-6PM</option>
</select>
</label>
<br><br>
<label for="psw">PASSWORD: </label>
<input type="password" name="psw" placeholder="enter password"required>
<br><br>
<a href="payment.html"><input type="submit" value="Submit"></a>
<input type="reset" value="Reset">

<p style="color:green">contact us: classicyoga@gmail.com</p>
</form>
</div class="box">
</center>
</body>
</html>